<ion-view title="Bella">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/vc6AcEzYTDfjLZQz355C_shutterstock_188662199 (2).jpg" width="100%" height="auto">
        </div>
        <div>
            <p>Bella is a 5 year old bernese</p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block button-small">My Schedule</button>
            <button class="button button-stable button-block button-small">Schedule a Walk</button>
        </div>
        <a ui-sref="newPup" class="button button-stable button-block button-small">Edit Profile</a>
    </ion-content>
</ion-view>