<ion-view title="Billing Information">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header has-footer">
        <form class="list">
            <h2>Spot.</h2>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">CC#</span>
                    <input type="number" placeholder="1234 5678 9012 3456">
                </label>
                <label class="item item-input">
                    <span class="input-label">Expiry</span>
                    <input type="number" placeholder="mm/yyyy">
                </label>
                <label class="item item-input">
                    <span class="input-label">CVV</span>
                    <input type="number" placeholder="000">
                </label>
            </ion-list>
            <a ui-sref="menu.ownerHomepage" class="button button-positive button-block ">Finish Registration</a>
        </form>
    </ion-content>
</ion-view>