<ion-view title="Max">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/0CZ2TjYbRny6PoiNoXxQ_beagle-puppy-photo.jpg" width="100%" height="auto">
        </div>
        <div>
            <p>Max is a beagle puppy</p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block button-small">My Schedule</button>
            <button class="button button-stable button-block button-small">Schedule a Walk</button>
        </div>
        <a ui-sref="newPup" class="button button-stable button-block button-small">Edit Profile</a>
    </ion-content>
</ion-view>