<ion-view title="Owner Homepage">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar"></div>
        <h2>Spot.</h2>
        <div class="button-bar">
            <button class="button button-positive button-block button-small">Owner Homepage</button>
            <a ui-sref="walkerMenu.walkerHomepage" class="button button-stable button-block button-small">Walker Homepage</a>
        </div>
        <div style="text-align:center;">
            <img src="img/XhtwN068Tdyah8Cm1rVd_Screenshot 2016-02-03 12.09.01.png" width="100%" height="320 px">
        </div>
        <div class="button-bar">
            <a ui-sref="menu.mySchedule" class="button  button-block button-small">My Schedule</a>
            <a ui-sref="requestWalker" class="button  button-block button-small button-full">Request Walker</a>
        </div>
    </ion-content>
</ion-view>