<ion-view title="Pricing">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button button-stable button-block button-small button-full">$1 from every dogwalk is donated to the "XXX Foundation!"</button>
        <button class="button button-stable button-clear button-block button-small">Pricing varies based on walk requested</button>
        <div style="text-align:center;">
            <img src="img/qhCSxl3NR9q8CuAjZuyF_Pricing.png" width="100%" height="auto">
        </div>
        <form class="list"></form>
        <div>
            <p>$5 per additional dog from same household; Cost increases 15% for walks below -15 degrees</p>
        </div>
    </ion-content>
</ion-view>