<ion-view title="Pup Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="menu.profile" class="button button-stable button-block button-small">My Profile</a>
            <button class="button button-positive button-block button-small">Pup Profile</button>
        </div>
        <ion-list>
            <ion-item class="item-divider">All Pups</ion-item>
            <ion-item ui-sref="spike">Spike</ion-item>
            <ion-item ui-sref="bella">Bella</ion-item>
            <ion-item ui-sref="max">Max</ion-item>
        </ion-list>
        <form class="list"></form>
        <a ui-sref="newPup" class="button  button-block button-small">Add Dog</a>
        <a ui-sref="walkHistory" class="button  button-block button-small">Walk History</a>
        <div class="button-bar">
            <a ui-sref="menu.mySchedule" class="button button-stable button-block button-small">My Schedule</a>
            <a ui-sref="requestWalker" class="button button-stable button-block button-small">Request Walker</a>
        </div>
    </ion-content>
</ion-view>