<ion-view title="Register">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <h2>Spot.</h2>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">First Name</span>
                    <input type="text" placeholder="John">
                </label>
                <label class="item item-input">
                    <span class="input-label">Last Name</span>
                    <input type="text" placeholder="Smith">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input type="tel" placeholder="1 (403) 243-1357">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="jsmith@email.com">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="********">
                </label>
            </ion-list>
            <label class="item item-input">
                <span class="input-label">Address</span>
                <input type="text" placeholder="826 Cantebury Way S.E. T2T">
            </label>
            <label class="item item-select">
                <span class="input-label">City</span>
                <select>
                    <option>Calgary, AB</option>
                    <option></option>
                </select>
            </label>
        </form>
        <a ui-sref="billingInformation" class="button button-positive button-block  button-full">Sign up</a>
    </ion-content>
</ion-view>