<ion-view title="Request Walker">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <a ui-sref="menu.mySchedule" class="button  button-block button-small">My Schedule</a>
            <button class="button button-positive button-block button-small">Request Walker</button>
        </div>
        <ion-list>
            <ion-item class="item-divider">Select a walk:</ion-item>
            <ion-toggle toggle-class="toggle-positive">30 minutes ($20)</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" name="$20">45 minutes ($25)</ion-toggle>
            <ion-toggle toggle-class="toggle-positive">60 minutes ($30)</ion-toggle>
            <form class="list"></form>
        </ion-list>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Extra dogs</span>
                <select>
                    <option>None</option>
                    <option>1 extra dog ($3)</option>
                    <option>2 extra dogs ($6)</option>
                </select>
            </label>
        </form>
        <ion-list>
            <ion-item class="item-divider">Date and time:</ion-item>
            <ion-toggle toggle-class="toggle-positive">ASAP</ion-toggle>
            <label class="item item-input">
                <span class="input-label">Date:</span>
                <input type="date" placeholder="">
            </label>
            <label class="item item-select">
                <span class="input-label">Time (approx):</span>
                <select>
                    <option>6:00 AM</option>
                    <option>7:00 AM</option>
                    <option>8:00 AM</option>
                    <option>9:00 AM</option>
                    <option>10:00 AM</option>
                    <option>11:00 PM</option>
                    <option>12:00 PM</option>
                    <option>1:00 PM</option>
                    <option>2:00 PM</option>
                    <option>3:00 PM</option>
                    <option>4:00 PM</option>
                    <option>5:00 PM</option>
                    <option>6:00 PM</option>
                    <option>7:00 PM</option>
                    <option>8:00 PM</option>
                    <option>9:00 PM</option>
                    <option>10:00 PM</option>
                </select>
            </label>
        </ion-list>
        <form class="list"></form>
        <a ui-sref="menu.mySchedule" class="button button-positive button-block ">Request Walker!</a>
        <a ui-sref="recurringWalks" class="button button-stable button-block button-small">Or click here to set-up recurring walks</a>
        <form class="list"></form>
        <form class="list"></form>
    </ion-content>
</ion-view>