<ion-view title="Return Lockbox">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>No longer using your lockbox? Please follow the steps below so that someone else can!</p>
        </div>
        <div class="spacer" style="width: 283px; height: 25px;"></div>
        <div>
            <p>1) Check to ensure that the mailing sticker is on the back of the lockbox, and Spot.'s address is clearly legible.</p>

            <p>2) Drop the lockbox in any Canada Post maiiling box.</p>

            <p>3) Confirm below that you have returned your lockbox</p>
        </div>
        <div class="button-bar">
            <a ui-sref="menu.ownerHomepage" class="button button-stable button-block button-small">Lockbox Returned</a>
            <button class="button button-stable button-block button-small">Problems Returning</button>
        </div>
    </ion-content>
</ion-view>