<ion-view title="Spike">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/oIQ6XDqDSQSbIiaGmcf7_Spike (2).jpg" width="100%" height="auto">
        </div>
        <div>
            <p>Spike is a 9 year old golden retriever</p>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block button-small">My Schedule</button>
            <button class="button button-stable button-block button-small">Schedule a Walk</button>
        </div>
        <a ui-sref="newPup" class="button button-stable button-block button-small">Edit Profile</a>
    </ion-content>
</ion-view>