<ion-view title="Walker Registration">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <button class="button button-stable button-block button-small button-full">Interested in becoming a Spot. dog walker? Fill out your contact information and we'll send you an Email with the application!</button>
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Email:</span>
                <input type="text" placeholder="jsmith@email.com">
            </label>
            <label class="item item-input">
                <span class="input-label">Full Name</span>
                <input type="text" placeholder="John Smith">
            </label>
        </form>
        <a ui-sref="menu.ownerHomepage" class="button button-energized button-block ">Begin Application</a>
    </ion-content>
</ion-view>