<ion-view title="Walk History">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div class="button-bar"></div>
        <ion-list>
            <ion-item class="item-divider">January 16, 2016</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Damien Johnson</h2>
                <p>Spike</p>
            </ion-item>
            <ion-list>
                <ion-item>1:30 - 2:32</ion-item>
                <ion-item>2.4 kms</ion-item>
                <ion-item>$30</ion-item>
                <ion-item>***** Great work</ion-item>
                <ion-item class="item-divider">January 15, 2016</ion-item>
            </ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Maria Stevens</h2>
                <p>Spike, Bella, and Max</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>12:47 - 1:31</ion-item>
            <ion-item>2.1 kms</ion-item>
            <ion-item>$31</ion-item>
            <ion-item>***** Excellent work</ion-item>
        </ion-list>
    </ion-content>
</ion-view>