<ion-view title="Walker History">
    <ion-content overflow-scroll="true" padding="true" class="has-header has-footer">
        <div class="button-bar">
            <a ui-sref="walkerMenu.walkerProfile" class="button button-stable button-block button-small">Profile</a>
            <button class="button button-positive button-block button-small">History</button>
            <a ui-sref="walkerMenu.walkerAccount" class="button button-stable button-block button-small">Account</a>
        </div>
        <ion-list>
            <ion-item class="item-divider">January 13, 2016</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Cookie</h2>
                <p>*****</p>
            </ion-item>
            <ion-list>
                <ion-item>2:00 - 2:32</ion-item>
                <ion-item>1.2 kms</ion-item>
                <ion-item>$14</ion-item>
                <ion-item>***** Job well done</ion-item>
            </ion-list>
            <ion-item class="item-divider">January 11, 2016</ion-item>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>Oscar</h2>
                <p>*****</p>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>12:47 - 1:31</ion-item>
            <ion-item>2.4 kms</ion-item>
            <ion-item>$17.50</ion-item>
            <ion-item>***** Excellent work</ion-item>
        </ion-list>
    </ion-content>
</ion-view>