<ion-view title="Walker Login">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/2KFVVyPkS3SXmM4zvWmh_Screenshot%25202016-01-27%252018.17.17.png) no-repeat center;" class="has-header">
        <h1>Spot.</h1>
        <form class="list"></form>
        <form class="list">
            <div class="spacer" style="width: 300px; height: 120px;"></div>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" placeholder="">
            </label>
            <ion-list></ion-list>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" placeholder="***********">
            </label>
            <button class="button button-positive button-icon button-small button-full">FORGOT PASSWORD?</button>
        </form>
        <form class="list">
            <a ui-sref="walkerMenu.walkerHomepage" class="button button-energized button-block ">Log in</a>
            <a ui-sref="walkerRegistration" class="button button-positive   button-full">Or apply to become a walker</a>
        </form>
    </ion-content>
</ion-view>