<ion-view title="Walker Profile">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="button-bar">
            <button class="button button-positive button-block button-small">Profile</button>
            <a ui-sref="walkerMenu.walkerHistory" class="button button-stable button-block button-small">History</a>
            <a ui-sref="walkerMenu.walkerAccount" class="button button-stable button-block button-small">Account</a>
        </div>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <button class="button button-stable button-block button-small">Edit Profile Video</button>
        <form class="list">
            <ion-list></ion-list>
            <ion-item class="item-divider">Personal Info:</ion-item>
            <label class="item item-input">
                <span class="input-label">John Smith</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">(403) 854-3256</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">jsmith@email.com</span><textarea placeholder=""> </textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">826 Cantebury Way S.E. T2T-1P4</span><textarea placeholder=""> </textarea>
            </label>
            <ion-item class="item-divider">Bio:</ion-item>
            <label class="item item-input">
                <span class="input-label">Hello my name is John I am very exc...</span>
                <input type="text" placeholder="">
            </label>
            <button class="button button-stable button-block button-small">Edit Profile</button>
        </form>
        <div class="button-bar"></div>
        <form class="list"></form>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>