<ion-view title="Walker Account">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list"></form>
        <div class="button-bar">
            <a ui-sref="walkerMenu.walkerProfile" class="button button-stable button-block button-small">Profile</a>
            <a ui-sref="walkerMenu.walkerHistory" class="button button-stable button-block button-small">History</a>
            <button class="button button-positive button-block button-small">Account</button>
        </div>
        <form class="list">
            <ion-item class="item-divider">Credit Card</ion-item>
            <label class="item item-input">
                <span class="input-label">CC #</span>
                <input type="text" placeholder="**** **** **** 4765">
            </label>
            <label class="item item-input">
                <span class="input-label">Exp.</span>
                <input type="text" placeholder="04/19">
            </label>
        </form>
        <button class="button button-stable button-block button-small">Edit</button>
        <ion-list>
            <ion-item class="item-divider">Balances</ion-item>
            <ion-item>$237: Account balance</ion-item>
            <ion-item>356 kms: Distance walked</ion-item>
            <ion-item>$49: You have raised for the "XXX foundation"</ion-item>
            <ion-item>***** Rating</ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider">Reviews</ion-item>
            <ion-item>***** Job well done</ion-item>
            <ion-item>***** Excellent work</ion-item>
            <ion-item>***** Very satisfied</ion-item>
        </ion-list>
    </ion-content>
</ion-view>